@model own_project.Models.login1



@{
    Layout = null;

}


@{
    ViewBag.Title = "resetpassword";
}



@{
    if (ViewBag.error == "22")
    {
        <script>
            alert('invalid url');
        </script>
    }


    else if (ViewBag.error == "44")
    {
        <script>
            alert('link expired');
        </script>
    }

else
    {

        <h2>Reset Password</h2>
        <form action="/login/resetpassword" method="post">

            <input type="hidden" value="@ViewBag.authcode" name="authcode" />

            <label>New Password</label>
            <input type="password" name="userpassword" id="userpassword" placeholder="Enter new password" required />

            <label>Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password" required />

            <div id="password-error-message" style="display: none; color: red;">Passwords do not match</div>

            <button type="submit" class="btn btn-success" id="submit-button" disabled>Save</button>

        </form>

        <script>
            const passwordInput = document.getElementById("userpassword");
            const confirmPasswordInput = document.getElementById("confirmpassword");
            const errorMessage = document.getElementById("password-error-message");
            const submitButton = document.getElementById("submit-button");

            confirmPasswordInput.addEventListener("input", () => {
                if (confirmPasswordInput.value !== passwordInput.value) {
                    errorMessage.style.display = "block";
                    submitButton.disabled = true;
                } else {
                    errorMessage.style.display = "none";
                    submitButton.disabled = false;
                }
            });
        </script>

    }
}







